

<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>
                Información del Cliente
            </h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-8" style="margin:  auto;">
                    <table class="table table-striped" style="text-align:  center; ">

                        <tbody>
                          <tr>
                            <th scope="row"><b>ID :</b></th>
                            <td>{{id}}</td>
                          </tr>
                          <tr>
                            <th scope="row"><b>Nombre :</b> </th>
                            <td>{{nombre}}</td>
                          </tr>
                          <tr>
                            <th scope="row"><b>Apellido :</b></th>
                            <td>{{apellido}}</td>
                          </tr>
                          <tr>
                            <th scope="row"><b>Telefono :</b></th>
                            <td>{{telefono}}</td>
                          </tr>
                          <tr>
                            <th scope="row"><b>Correo :</b></th>
                            <td>{{correo}}</td>
                          </tr>
                        </tbody>
                      </table> 

                </div>

            </div>
              
        </div>
        
    </div>
    
</div>
