<div class="container col-md-6">
    <div class="card">
      <div class="card-header">
        <h3>Editar Cliente</h3>
      </div>
      <div class="card-body">
        <form action="">
          <div class="form-group">
            <label for="">Correo:</label>
            <input  [(ngModel)]="tcsClienteEnca.correo" name="correo" type="text" class="form-control" [disabled]="true">
          </div>
          <div class="form-group">
            <label for="">Nombres:</label>
            <input [(ngModel)]="tcsClienteEnca.nombre" name="nombre" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="">Apellidos:</label>
            <input [(ngModel)]="tcsClienteEnca.apellido" name="apellido" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="">Telefono:</label>
            <input  [(ngModel)]="tcsClienteEnca.telefono" name="telefono" type="text" class="form-control">
          </div>

          <button (click)="editarCliente();" class="btn btn-warning">Actualizar</button>
          <button (click)="cancelar();" class="btn btn-danger" style="margin-left: 10px;">Cancelar</button>
        </form>
      </div>
    </div>
  </div>