<!--The content below is only a placeholder and can be replaced.-->
<div  style="text-align:center">
  <!--h1>
    Welcome to {{ title }}!
  </h1 -->
  <img style="width: 400px; margin-top: 20px;" alt="Angular Logo" src="https://upload.wikimedia.org/wikipedia/commons/7/79/Telef%C3%B3nica_2021_logo.svg">
</div>
<br>
<div class="container text-center">
  <button (click)="Listar()" class="btn btn-info">Listar</button>
  <button (click)="Nuevo()" class="btn btn-info" style="margin-left: 10px;">Nuevo</button> 
</div>
<!--a href="">Hola SinFloo todos somos hinchas</a -->
<hr>
<router-outlet></router-outlet>